<%= form_for(@discipline) do |f| %>
  <%#= error_messages_for(@discipline) %>

  <div class="form-group">
    <%= f.label Discipline.human_attribute_name(:title) %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label Discipline.human_attribute_name(:group_id) %><br>
    <%= select_group('discipline[group_id]', @discipline.group_id) %>
  </div>
  <div class="form-group">
    <%= f.label Discipline.human_attribute_name(:teacher_id) %><br>
    <%= select_teacher('discipline[teacher_id]', @discipline.teacher_id) %>
  </div>
  <div class="form-group">
  </div>
  <div class="actions">
    <%= f.submit t(:save) %>
  </div>
<% end %>
