<div class="disciplines_student">
  <table class="table table-condensed table-bordered table-hover all_disciplines">
    <thead>
      <tr>
        <th><%= Discipline.human_attribute_name(:title) %></th>
        <th><%= Discipline.human_attribute_name(:teachers) %></th>
	      <% if @user %>
	        <th><%= Rating.human_attribute_name(:this_score) %></th>
	        <th><%= Rating.human_attribute_name(:this_mark) %></th>
	      <% end %>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @disciplines.each do |discipline| %>
        <tr>
          <td><%= discipline.title %></td>
          <td>
            <% discipline.users.each do |teacher| %>
              <div class="teacher_link">
                <%= link_to teacher.fio, teacher, class: 'edu_portal_link' %>
                <br>
              </div>
            <% end %>
          </td>
          <% if @user %>
	          <td><%= @user.full_score_of(discipline.rating.id) %></td>
	          <td><%= @user.show_mark_of(discipline.rating.id) %></td>
	        <% end %>
          <td><%= link_to t(:show), discipline, class: 'edu_portal_link' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>