<div class="disciplines_student">
  <table class="table table-condensed table-bordered table-hover all_disciplines">
    <thead>
      <tr>
        <th><%= Discipline.human_attribute_name(:title) %></th>
        <th><%= Discipline.human_attribute_name(:teachers) %></th>
        <th><%= Rating.human_attribute_name(:this_score) %></th>
        <th><%= Rating.human_attribute_name(:this_mark) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% disciplines.each do |discipline| %>
        <tr>
          <td><%= discipline.title %></td>
          <td>
            <% discipline.users.each do |teacher| %>
              <div class="teacher_link">
                <%= link_to teacher.fio, teacher %>
                <br>
              </div>
            <% end %>
          </td>
          <td><%= @user.full_score_of(discipline.rating.id) %></td>
          <td><%= @user.show_mark_of(discipline.rating.id) %></td>
          <td><%= link_to t(:show), discipline %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>