<h1>Все дисциплины</h1>

<table class="table table-condensed table-bordered table-hover all_disciplines">
  <thead>
    <tr>
      <th><%= Discipline.human_attribute_name(:title) %></th>
      <th><%= Discipline.human_attribute_name(:teacher) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.title %></td>
        <td><%= discipline.user.fio %></td>
        <td><%= link_to t(:show), discipline %></td>
        <td><%= link_to t(:edit), edit_discipline_path(discipline) %></td>
        <td><%= link_to t(:destroy), discipline, method: :delete, data: { confirm: t(:confirm) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создание новой дисциплины', new_discipline_path %>
