<% if @current_user.role == 2 %>
  <%= render partial: 'index_admin', locals: { disciplines: @disciplines } %>
<% elsif @current_user.role == 1 %>
  <div>
    <h1><%= t(:my_disciplines) %></h1>
    <%= render partial: 'index_teacher', locals: { disciplines: @current_user.disciplines } %>
  </div>
<% else %>
  <div>
    <h1><%= t(:my_disciplines) %></h1>
    <%= render partial: 'index_student', locals: { disciplines: @current_user.group.disciplines } %>
  </div>
<% end %>