<%= render 'left_navbar' %>

<div class="discipline-other-block">
  <div class="discipline-title">
		<h1><%= @discipline.title %> <small><%= @discipline.group.numer %></small></h1>
	</div>
	<% flag = false %>
	<% flag2 = true %>
	<div class="discipline-teachers">
		<%= label_tag Discipline.human_attribute_name(:teachers) %>:
		<p>
		  <% @discipline.users.each do |teacher| %>
		    <%= link_to teacher.fio, teacher, class: 'teacher_link btn btn-primary' %>
	      <% flag = true if teacher.id = @current_user.id %>
			<% end %>
		</p>
	</div>

	<% if flag && @rating.score_now != 100 %>
		<div class="alert alert-danger" style="width: 500px">
		  <button class="close" data-dismiss="alert">×</button>
		  <%= "Необходимо еще распределить #{100 - @rating.score_now} #{Russian.p(100 - @rating.score_now, 'балл', 'балла', 'баллов')} для создания рейтинга!" %>
    </div>
	  <%= link_to 'Создать элемент рейтинга', new_rating_element_path(rating_id: @rating.id), class: 'btn', style: 'color: black; background-color: yellow', class: 'edu_portal_link' %>
		<br>
		<br>
		<% flag2 = false %>
	<% end %>

	<div class="show_rating_elements">
		<%= render 'ratings/show_rating_elements' %>
	</div>


  <% if flag2 %>
		<%= render 'ratings/show_simple_rating' %>
	<% end %>

	<br>

	<% if @current_user.administrator? %>
	  <div class="btn-group">
			<%= link_to t(:edit), edit_discipline_path(@discipline), class: 'btn btn-primary' %>
			<%= link_to t(:back), disciplines_path, class: 'btn btn-default edu_portal_link' %>
	  </div>
  <% end %>
</div>