<div class="discipline-show">
  <div class="discipline-title">
		<h1><%= @discipline.title %> <small><%= @discipline.group.numer %></small></h1>
	</div>
	<% flag = false %>
	<div class="discipline-teachers">
		<%= label_tag Discipline.human_attribute_name(:teachers) %>:
		<p>
		  <% @discipline.users.each do |teacher| %>
			  <div class="teacher_link btn btn-primary">
			    <%= link_to teacher.fio, teacher %>
				  <% flag = true if teacher.id = @current_user.id%>
			    <br>
			  </div>
			<% end %>
		</p>
	</div>
	<% if flag && @rating.score_now != 100 %>
		<div class="alert alert-danger" style="width: 500px">
		  <button class="close" data-dismiss="alert">×</button>
		  <%= "Необходимо еще распределить #{100 - @rating.score_now} #{Russian.p(100 - @rating.score_now, 'балл', 'балла', 'баллов')} для создания рейтинга!" %>
    </div>
	  <%= link_to 'Создать элемент рейтинга', new_rating_element_path(rating_id: @rating.id), class: 'btn', style: 'color: black; background-color: yellow' %>
	<% end %>
  <br>
  <br>

	<div class="show_rating">
		<%= render 'ratings/show_this_rating' %>
		...Тут будет рейтинг по дисциплине
	  <%# TODO сделать css для классов %>
		<%# TODO привязать рейтинг %>
	</div>
	<br>
	<br>

  <div class="btn-group">
		<%= link_to t(:edit), edit_discipline_path(@discipline), class: 'btn btn-default' %>
		<%= link_to t(:back), disciplines_path, class: 'btn btn-default' %>
  </div>
</div>