<%= form_for(@group) do |f| %>
  <%= error_messages_for(@group) %>

  <div class="field">
    <%= f.label :numer %><br>
    <%= f.text_field :numer %>
  </div>
  <div class="actions">
    <%= f.submit t(:save) %>
  </div>
<% end %>
