<h1>Все группы</h1>

<table class="table table-condensed table-bordered table-hover all_groups">
  <thead>
    <tr>
      <th><%= Group.human_attribute_name(:numer) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.numer %></td>
        <td><%= link_to t(:show), group, class: 'edu_portal_link' %></td>
        <td><%= link_to t(:edit), edit_group_path(group), class: 'edu_portal_link' %></td>
        <td><%= link_to t(:destroy), group, method: :delete, data: { confirm: t(:confirm) }, class: 'edu_portal_link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создание группы', new_group_path, class: 'edu_portal_link' %>
