<h1>Учебная группа №<%= @group.numer %></h1>

<table id="group_rating" class="table table-condensed table-bordered table-hover one_group" data-sortlist="[[3,1],[2,0]]">
  <thead>
    <tr>
      <th>№</th>
      <th><%= User.human_attribute_name(:fio) %></th>
      <th><%= User.human_attribute_name(:login) %></th>
      <th><%= User.human_attribute_name(:average_rating) %></th>
    </tr>
  </thead>

  <tbody>
    <% i = 1 %>
    <% @students.each do |student| %>
      <tr>
        <td><%= i %></td>
        <td><%= link_to student.fio, student, class: 'edu_portal_link' %></td>
        <td><%= student.login %></td>
        <td><%= student.average_rating %></td>
      </tr>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>

<% if @disciplines = @group.disciplines %>
  <%= render 'disciplines/index_student' %>
<% end %>

<% if @current_user.administrator? %>
	<%= link_to t(:edit), edit_group_path(@group), class: 'edu_portal_link' %> |
	<%= link_to t(:back), groups_path, class: 'edu_portal_link' %>
<% end %>
