<%= form_for(@user) do |f| %>
  <%= error_messages_for(@user) %>

  <div class="form-group">
    <%= f.label User.human_attribute_name(:login) %><br>
    <%= f.text_field :login, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label User.human_attribute_name(:password) %><br>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label User.human_attribute_name(:password_confirmation) %><br>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label User.human_attribute_name(:lastname) %><br>
    <%= f.text_field :lastname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label User.human_attribute_name(:firstname) %><br>
    <%= f.text_field :firstname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label User.human_attribute_name(:patronymic) %><br>
    <%= f.text_field :patronymic, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label User.human_attribute_name(:email) %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
	<% if @current_user.presence && @current_user.administrator? %>
	  <div class="form-group">
	    <%= f.label User.human_attribute_name(:role) %><br>
	    <%= f.select :role, options_for_select(User::ROLES_VALUES), class: 'form-control' %>
	  </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
