<h1><%= @user.fio %> <small><%= @user.login %></small></h1>
<br>
<p>
  <strong><%= User.human_attribute_name(:login) %>:</strong>
  <%= @user.login %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:role) %>:</strong>
  <%= @user.role_name %>
</p>

<br>
<% if @user.group_id && @user.student? %>
  <%= render 'show_student' %>
<% elsif @user.role == 1 %>
  <%= render 'show_teacher' %>
<% end %>

<% if @current_user.administrator? || @user.id == @current_user.id %>
	<br>
  <%= link_to t(:edit), edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to t(:back), users_path, class: 'btn btn-default edu_portal_link' %>
<% end %>