<h1><%= @user.fio %> <small><%= @user.login %></small></h1>
<br>
<p>
  <strong><%= User.human_attribute_name(:login) %>:</strong>
  <%= @user.login %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:role) %>:</strong>
  <%= @user.role_name %>
</p>

<% if @user.group_id && @user.role == 0 %>
  <%= render 'show_student' %>
<% elsif @user.role == 1 %>
  <br>
  <%= render 'show_teacher' %>
<% end %>

<% if @current_user.role == 2 || @user.id == @current_user.id %>
  <%= link_to t(:edit), edit_user_path(@user) %> |
  <%= link_to t(:back), users_path %>
<% end %>