<p>
  <strong><%= User.human_attribute_name(:login) %>:</strong>
  <%= @user.login %>
</p>

<p>
  <strong><%= User.human_attribute_name(:fio) %>:</strong>
  <%= @user.fio %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:role) %>:</strong>
  <%= @user.role_name %>
</p>

<% if @user.group_id && @user.role == 0 %>
  <p>
    <strong><%= User.human_attribute_name(:group_id) %>:</strong>
    <%= @user.group.numer %>
  </p>
<% end %>

<%= link_to t(:edit), edit_user_path(@user) %> |
<%= link_to t(:back), users_path %>
