<%= form_for(@section) do |f| %>
  <%= error_messages_for(@section) %>

  <div class="form-group">
    <%= f.label Section.human_attribute_name(:title) %><br>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.hidden_field :page_id, value: params[:page_id] %>
  </div>

  <br>

  <div class="form-group">
    <%= f.label Section.human_attribute_name(:content) %><br>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit t(:save), class: 'btn btn-default' %>
  </div>
  <br>
<% end %>
