<%= form_for(@rating) do |f| %>
  <%= error_messages_for(@rating) %>

  <div class="field">
    <%= f.label :max_score %><br>
    <%= f.number_field :max_score %>
  </div>
  <div class="actions">
    <%= f.submit t(:save) %>
  </div>
<% end %>
