<h3><%= Rating.human_attribute_name(:simple_rating) %>:</h3>
<table class="table table-condensed table-bordered table-hover" data-sortlist="[[2,1],[1,0],[0,0]]">
  <thead>
    <tr>
      <th><%= Rating.human_attribute_name(:student_login) %></th>
      <th><%= Rating.human_attribute_name(:student) %></th>
      <th><%= Rating.human_attribute_name(:this_score) %></th>
      <th><%= Rating.human_attribute_name(:this_mark) %></th>
      <% if @current_user.teacher? %>
	      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @discipline.group.users.order(login: :asc).each do |student| %>
      <tr>
        <td><%= student.login %></td>
        <td><%= link_to student.fio, student, class: 'edu_portal_link' %></td>
        <td><%= student.full_score_of(@discipline.rating.id) %></td>
        <td><%= student.show_mark_of(@discipline.rating.id) %></td>
        <% if @current_user.teacher? %>
	        <td><%= link_to t(:score_plus), new_student_rating_element_path(user_id: student.id, discipline_id: @discipline.id), class: 'edu_portal_link' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>