<h1>Все рейтинги</h1>

<table class="table table-condensed table-bordered table-hover all_ratings">
  <thead>
    <tr>
      <th><%= Rating.human_attribute_name(:discipline) %></th>
      <th><%= Rating.human_attribute_name(:max_score) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.discipline.title %></td>
        <td><%= rating.max_score %></td>
        <td><%= link_to t(:show), rating.discipline %></td>
        <td><%= link_to t(:edit), edit_rating_path(rating) %></td>
        <td><%= link_to t(:destroy), rating, method: :delete, data: { confirm: t(:confirm) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создание нового рейтинга', new_rating_path %>
