<%= form_for(@page) do |f| %>
  <%= error_messages_for(@page) %>

  <div class="form-group">
    <%= f.label Page.human_attribute_name(:title) %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <br>

  <div class="form-group">
    <%= f.label Page.human_attribute_name(:content) %><br>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit t(:save), class: 'btn btn-default' %>
  </div>
<% end %>
