<p>
  <%= Page.human_attribute_name(:title) %>
  <%= @page.title %>
</p>

<p>
  <%= Page.human_attribute_name(:content) %>
  <%= @page.content %>
</p>

<%= link_to t(:edit), edit_page_path(@page) %> |
<%= link_to t(:back), pages_path %>
