<p>
  <%= Page.human_attribute_name(:title) %>
  <%= @page.title %>
</p>

<p>
  <%= Page.human_attribute_name(:content) %>
  <%= @page.content %>
</p>

<br>
<%= link_to t(:edit), edit_page_path(@page), class: 'btn btn-primary' %>
<%= link_to t(:back), pages_path, class: 'btn btn-default edu_portal_link' %>
