<p id="notice"><%= notice %></p>

<h1>Все Student Rating Elements</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_rating_elements.each do |student_rating_element| %>
      <tr>
        <td><%= student_rating_element.value %></td>
        <td><%= link_to t(:show), student_rating_element %></td>
        <td><%= link_to t(:edit), edit_student_rating_element_path(student_rating_element) %></td>
        <td><%= link_to t(:destroy), student_rating_element, method: :delete, data: { confirm: t(:confirm) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создание Student rating element', new_student_rating_element_path %>
