<!DOCTYPE html>
<html>
  <head>
    <title>Образовательный портал МАМИ</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'navbar' if @current_user %>
    <div class="container">
      <%= render 'flash_messages' %>
      <%= yield %>
    </div>
  </body>
  <br>
</html>
