<h1>Все элементы рейтингов</h1>

<table>
  <thead>
    <tr>
      <th><%= RatingElement.human_attribute_name(:title) %></th>
      <th><%= RatingElement.human_attribute_name(:score) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rating_elements.each do |rating_element| %>
      <tr>
        <td><%= rating_element.title %></td>
        <td><%= rating_element.score %></td>
        <td><%= link_to t(:show), rating_element, class: 'edu_portal_link' %></td>
        <td><%= link_to t(:edit), edit_rating_element_path(rating_element), class: 'edu_portal_link' %></td>
        <td><%= link_to t(:destroy), rating_element, method: :delete, data: { confirm: t(:confirm) }, class: 'edu_portal_link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создание элемента рейтинга', new_rating_element_path, class: 'edu_portal_link' %>
