<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rating_element.title %>
</p>

<p>
  <strong>Score:</strong>
  <%= @rating_element.score %>
</p>

<%= link_to t(:edit), edit_rating_element_path(@rating_element) %> |
<%= link_to t(:back), rating_elements_path %>
